


<div>
    <h1 class="text-3xl font-bold mb-4">Static</h1>
    <!-- <p class="text-gray-600 text-lg mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptate.</p> -->
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-5">
    @for (item of static; track $index) {
        <a routerLink="/view/{{item.slug}}" class="bg-white  rounded-lg shadow-sm overflow-hidden hover:shadow-md transition-shadow duration-300">
            <div class="p-6">
                <h3 class="text-xl font-bold mb-2">{{item.title}}</h3>
                <p class="text-gray-600 mb-4">{{''}}</p>
                <div class="flex items-center text-sm text-gray-500">
                    <i class='bx bx-bar-chart-alt-2 mr-2'></i>
                    <span>Static Data</span>
                </div>
            </div>
        </a>
    }
</div>